extends layout

block content
	h1 New Reply for:

	p Post
		a.link.header= post.title
	p Comment
		a.link.header= parentComment.content

	form(action="/posts/#{post._id}/comments/#{parentComment._id}/reply" method='post')
		textarea.form-control(name='content', placeholder='New Reply...')

		input(type="submit" value="New Reply")

		- //hidden
		input(type='hidden' name="postId" value=post._id)
		input(type='hidden' name="parentComment" value=parentComment._id)
		input(type='hidden' name="author" value=currentUser._id)
