extend layout

block content
	p Author
		a.link(href="/users/#{post.author.username}")= post.author.username
	h1= title
	.row
		.col-sm-6.col-sm-offset-3
			p Subread-its
				each a_subredit in post.subreddits
					a.link(href="/posts/r/#{a_subredit}")= a_subredit
			
			a.lead(href=post.url)= post.url

	.row
		.col-sm-12
			h3 Summary
			p= post.summary

			h3 Comments
			include particals/_comments
