p Comments: #{comments.length}

- if (currentUser)
	form(action='/posts/#{post._id}/comments' method='post')
		textarea.form-control(name='content', placeholder='New Comment...')

		input(type="submit" value="New Comment")

		- //hidden
		input(type='hidden' name="postId" value=post._id)
- else
	p #[a(href='/login')= "Login"] to add a comment

ul
	each a_comment in comments
		li.list-group-item
			p= a_comment.content
			a.link(href="/posts/#{post._id}/comments/#{a_comment._id}/reply")= "Reply: " + a_comment.comments.length
			a.link(href="#") Flag
			.text-right
				a(href="/users/#{a_comment.author.username}")= a_comment.author.username
